header {
	margin-bottom: 2rem;
	text-align: center;
}

h1 {
	color: var(--text-color);
	font-size: 2.25rem;
	margin-bottom: 0.75rem;
	letter-spacing: -0.03125rem;
}

h2,
h3 {
	color: var(--text-color);
	font-size: 1.5rem;
	margin: 2rem 0 1rem;
	border-bottom: 0.1875rem solid var(--text-color);
	padding-bottom: 0.5rem;
}

h3 {
	margin: 0;
	border-bottom: none;
}

.contact-info {
	color: var(--text2-color);
	margin-bottom: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.contact-info a {
	color: var(--text-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	transition: opacity 0.3s;
}

.contact-info a:hover {
	opacity: 0.8;
}
