header {
    margin-bottom: calc(var(--section-spacing) * 0.75);
    text-align: center;
}

.contact-info {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.contact-info a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: opacity 0.3s;
}
