.container-aside {
    display: flex;
    justify-content: end;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

.container-aside aside {
    display: flex;
    /* align-items: center; */
    /* padding: 0.5rem; */
}

.container-aside .options-menu {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.6rem 2rem 0.6rem;
    border-right: 0.10rem solid var(--skill-border);
    background-color: var(--bg2-color);
    justify-content: end;
    gap: 0.5rem;
}

@media (width <= 64rem) {
    .container-aside {
        display: none;
    }
}
