<section>
    <h2>FORMAÇÃO</h2>
    <ul>
        <li itemscope itemtype="http://schema.org/EducationalEvent">
            <span itemprop="name">
                <strong>Análise e Desenvolvimento de Sistemas</strong>
            </span>
            <div
                itemprop="organizer"
                itemscope
                itemtype="http://schema.org/EducationalOrganization"
            >
                <span itemprop="name">Escola Técnica Estadual - Etec</span>
                <p class="period">
                    <time itemprop="startDate" datetime="2020-02">
                        Fev 2020
                    </time>{' '}
                    - <time itemprop="endDate" datetime="2022-12">Dez 2022</time
                    >
                </p>
            </div>
        </li>
    </ul>
</section>
