<section>
    <h2>IDIOMAS</h2>
    <ul class="language-proficiency">
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">Inglês</strong>
            <br />
            <span itemprop="proficiencyLevel">Fluente</span>
        </li>
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">Espanhol</strong>
            <br />
            <span itemprop="proficiencyLevel">Básico</span>
        </li>
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">Português</strong>
            <br />
            <span itemprop="proficiencyLevel">Nativo</span>
        </li>
    </ul>
</section>
