<section>
    <h2>RESUMO PROFISSIONAL</h2>
    <p>
        Trabalho com React e Vue para dar vida a interfaces dinâmicas, e no
        back-end navego por C# com DDD, além de construir microserviços
        escaláveis na AWS. Quando não estou codando, você me encontra jogando,
        tomando um café (ou três) ou mergulhado em projetos pessoais que
        misturam código e curiosidade.
    </p>
</section>
