:root {
	--text-color: rgb(16, 15, 15);
	--text2-color: rgb(111, 110, 105);
	--bg-color: rgb(255, 255, 255);
	--bg2-color: rgb(245, 246, 250);
	--skill-border: rgb(230, 228, 217);
	--icon-hover-bg: rgb(245, 246, 250);
	--icon-active-bg: rgb(237, 238, 241);
	--bg-select: rgb(225, 236, 235);
}

[data-theme='dark'] {
	--text-color: rgb(206, 205, 195);
	--text2-color: rgb(135, 133, 128);
	--bg-color: rgb(16, 15, 15);
	--bg2-color: rgb(28, 27, 26);
	--skill-border: rgb(40, 39, 38);
	--icon-hover-bg: rgb(28, 27, 26);
	--icon-active-bg: rgb(40, 39, 38);
	--bg-select: rgb(18, 47, 44);
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--text-color: rgb(206, 205, 195);
		--text2-color: rgb(135, 133, 128);
		--bg-color: rgb(16, 15, 15);
		--bg2-color: rgb(28, 27, 26);
		--skill-border: rgb(40, 39, 38);
		--icon-hover-bg: rgb(28, 27, 26);
		--icon-active-bg: rgb(40, 39, 38);
		--bg-select: rgb(18, 47, 44);
	}
}
