---
import type { Certifications } from '../interfaces/ICertifications'
const { content } = Astro.props as Certifications
---

<section>
    <h2>
        <a href={`#${content.title.toLowerCase().replace(/\s+/g, '_')}`}
            >{content.title}</a>
    </h2>
    <ul>
        <li
            itemscope
            itemtype="http://schema.org/EducationalOccupationalCredential"
        >
            <a
                href="https://www.credly.com/badges/517fd129-d1e7-4851-a9f7-09a2abadbf01"
                target="_blank"
                rel="noreferrer"
                title={content.actionTitle}
                itemprop="name"
                >AWS Certified Cloud Practitioner
                <i class="ri-arrow-right-up-line"></i>
            </a>
            <meta
                itemprop="url"
                content="https://www.credly.com/badges/517fd129-d1e7-4851-a9f7-09a2abadbf01"
            />
        </li>
    </ul>
</section>
