---
import type { Education } from '../interfaces/IEducation'
const { content } = Astro.props as Education
---

<section>
    <h2>
        <a href={`#${content.title.toLowerCase().replace(/\s+/g, '_')}`}
            >{content.title}</a
        >
    </h2>
    <p class="period">
        <time itemprop="startDate" datetime="2020-02"> Jul 2025 </time>{' '}
        - <time itemprop="endDate" datetime="2022-12">Now</time>
    </p>
    <ul>
        <li itemscope itemtype="http://schema.org/EducationalEvent">
            <span itemprop="name">
                <strong>Data Science</strong> - <strong>Univesp</strong>
            </span>
        </li>
    </ul>
    <p class="period">
        <time itemprop="startDate" datetime="2020-02">
            {content.formation.starDate}
        </time>{' '}
        - <time itemprop="endDate" datetime="2022-12"
            >{content.formation.endDate}</time
        >
    </p>
    <ul>
        <li itemscope itemtype="http://schema.org/EducationalEvent">
            <span itemprop="name">
                <strong>{content.formation.title}</strong> - <strong
                    >Etec</strong
                >
            </span>
        </li>
    </ul>
</section>
