<div class="container-aside">
    <aside>
        <nav class="options-menu">
            <i
                id="lang"
                class="icon ri-earth-line ri-2x"
                title="Change language"
                role="button"
                tabindex="0"></i>
            <i
                id="theme"
                class="icon ri-sun-line ri-2x"
                title="Change theme"
                role="button"
                tabindex="0"></i>
        </nav>
    </aside>
</div>
