---
import type { Summary } from '../interfaces/ISummary'
const { content } = Astro.props as Summary
---

<section>
    <h2>
        <a href={`#${content.title.toLowerCase().replace(/\s+/g, '_')}`}
            >{content.title}</a>
    </h2>
    <p>{content.summary}</p>
</section>
