---
import Layout from '../shared/layout/Layout.astro'
import content from '../locales/translations_en.json'
---

<Layout content={content.layout}>
    <section>
        <div class="gif">
            <img
                src="https://media1.tenor.com/m/8druEACXtX8AAAAd/michi-cat-meme.gif"
                alt="Cat"
            />
            <div>
                <h1>Error 404</h1>
                <p>Page not found, please go back.</p>
                <button
                    onclick="javascript:history.back()"
                    title="Previous page">Or click here :)</button
                >
            </div>
        </div>
    </section>
</Layout>

<style>
    section {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gif {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .gif div {
        display: flex;
        flex-direction: column;
    }

    button {
        background-color: transparent;
        border: none;
        text-align: start;
        width: fit-content;
        font-size: 15px;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
    }
</style>
