---
import Layout from '../layout/Layout.astro'
import Header from '../components/Header.astro'
import Summary from '../components/Summary.astro'
import Experience from '../components/Experience.astro'
import HardSkills from '../components/HardSkills.astro'
import Certifications from '../components/Certifications.astro'
import Projects from '../components/Projects.astro'
import Education from '../components/Education.astro'
import Languages from '../components/Languages.astro'
import { App } from '../react/App'
---

<Layout>
    <Header />
    <main>
        <Summary />
        <Experience />
        <HardSkills />
        <Certifications />
        <Projects />
        <Education />
        <Languages />
    </main>
    <App client:only="react" />
</Layout>
