---
import Layout from '../layout/Layout.astro'
import Header from '../shared/components/Header.astro'
import Summary from '../shared/components/Summary.astro'
import Experience from '../shared/components/Experience.astro'
import HardSkills from '../shared/components/HardSkills.astro'
import Certifications from '../shared/components/Certifications.astro'
import Projects from '../shared/components/Projects.astro'
import Education from '../shared/components/Education.astro'
import Languages from '../shared/components/Languages.astro'
---

<Layout>
    <Header />
    <main>
        <Summary />
        <Experience />
        <HardSkills />
        <Certifications />
        <Projects />
        <Education />
        <Languages />
    </main>
</Layout>
