:root {
    --text-color: oklch(14.5% 0 0);
    --bg-color: oklch(98.5% 0 0);
    --bg2-color: oklch(97% 0 0);
    --skill-border: oklch(92.2% 0 0);
    --icon-hover-bg: oklch(95.5% 0 0);
    --bg-select: oklch(97% 0.014 254.604);
    
    --base-line-height: 1.6;
    --header-line-height: 1.3;
    --section-spacing: 1.25rem;
}

[data-theme='dark'] {
    --text-color: oklch(98.5% 0 0);
    --bg-color: oklch(14.5% 0 0);
    --bg2-color: oklch(20.5% 0 0);
    --skill-border: oklch(26.9% 0 0);
    --icon-hover-bg: oklch(26.9% 0 0);
    --bg-select: oklch(29.3% 0.066 243.157);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --text-color: oklch(98.5% 0 0);
        --bg-color: oklch(14.5% 0 0);
        --bg2-color: oklch(20.5% 0 0);
        --skill-border: oklch(26.9% 0 0);
        --icon-hover-bg: oklch(26.9% 0 0);
        --bg-select: oklch(29.3% 0.066 243.157);
    }
}
