<header>
    <h1 itemprop="name">VINÍCIUS NEVES COSTA</h1>
    <nav
        class="contact-info"
        aria-label="Contatos e redes sociais"
        itemprop="contactPoint"
        itemscope
        itemtype="http://schema.org/ContactPoint"
    >
        <a
            href="mailto:contact@viniciusnevescosta.com"
            aria-label="Enviar email"
            itemprop="email"
        >
            <i class="ri-mail-line"></i>
            E-mail
        </a>
        <a
            href="https://linkedin.com/in/nevesco"
            target="_blank"
            rel="noreferrer"
            aria-label="Perfil no LinkedIn"
            itemprop="url"
        >
            <i class="ri-linkedin-box-line"></i>
            LinkedIn
        </a>
        <a
            href="https://github.com/viniciusnevescosta"
            target="_blank"
            rel="noreferrer"
            aria-label="Perfil no GitHub"
            itemprop="url"
        >
            <i class="ri-github-line"></i>
            GitHub
        </a>
    </nav>
</header>
