<section>
    <h2>PROJETOS DESTACADOS</h2>
    <ul>
        <li itemscope itemtype="http://schema.org/CreativeWork">
            <strong itemprop="name">CommitFlow</strong>
            <p>
                Ferramenta CLI que simplifica a criação de commits e branches
                semânticos
            </p>
            <meta
                itemprop="description"
                content="Ferramenta CLI que simplifica a criação de commits e branches semânticos"
            />
            <link
                itemprop="url"
                href="https://github.com/viniciusnevescosta/CommitFlow"
            />
            <a
                href="https://github.com/viniciusnevescosta/CommitFlow"
                target="_blank"
                rel="noreferrer"
            >
                Ver detalhes técnicos
            </a>
        </li>
        <li itemscope itemtype="http://schema.org/CreativeWork">
            <strong itemprop="name">Equilíbrio Natural - ERP</strong>
            <p>
                Sistema multiplataforma para gestão de estoque da empresa
                Equilíbrio Natural
            </p>
            <meta
                itemprop="description"
                content="Sistema multiplataforma para gestão de estoque da empresa Equilíbrio Natural"
            />
            <link
                itemprop="url"
                href="https://github.com/FrogDevs/etec-final-course-project"
            />
            <a
                href="https://github.com/FrogDevs/etec-final-course-project"
                target="_blank"
                rel="noreferrer"
            >
                Ver detalhes técnicos
            </a>
        </li>
    </ul>
</section>
