* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--bg-select);
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

section {
    text-align: justify;
}

.icon {
    padding: 0 0.5rem;
    transition: background-color 0.1s ease-in-out;
    border-radius: 0.5rem;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--icon-hover-bg);
}

.icon:active {
    transform: scale(0.95);
}

@media (width <= 64rem) {
    body {
        margin-bottom: 4rem;
    }

    section {
        text-align: start;
    }
}
